@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #5925f5, #ad93fa);
    column-gap: 30px;
}
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background: #FFF;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    font-weight: 700;
    color: #4305fa;
    background-color: #ad93fa;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #7243fa;
    color: white;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #4305fa;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options{
    padding-bottom: 55px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-options ul{
    position: absolute;
    display: flex;
}
.media-options ul li{
    list-style: none;
    margin: 0 35px;
}

.media-options ul li{
    font-size: 22px;
    line-height: 50px;
    transition: .3s;
    color: #5925f5;
}
.media-options a:hover{
    color: #ad93fa;
}
.media-options ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}
@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
@media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }